<!DOCTYPE html>
<html>
  <head>
    <title>CountriesApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body style="font-family:helvetica;">
    <div>
      <a href="/countries">Home</a>
      <a href="/countries/new">New country</a>
    </div>
    <%= yield %>
  </body>
</html>
